<div class='conainer-fluid'></div>
    <div class="listing-buttons clearfix">
        <button href="#" class="prev-btn btn btn-sml btn-secondary-outline float-left" id="js-prev-listing">Previous Listing</button>
        <button href="#" class="next-btn btn btn-sml btn-secondary-outline float-right" id="js-next-listing">Next Listing</button>
    </div>

    <div id='js-listing' class=''></div>
    <h3 class="heading-text">Comments:</h3>
    <!-- Listing Comments Section -->
    <div id='js-listing-comments'></div>
</div>