<div class='conainer-fluid'></div>
    <div class="listing-buttons clearfix">
        <button href="#" class="prev-btn btn btn-sml btn-secondary-outline float-left" id="js-prev-listing">Previous Listing</button>
        <button href="#" class="next-btn btn btn-sml btn-secondary-outline float-right" id="js-next-listing">Next Listing</button>
    </div>

    <div id='js-listing'></div>
    <div id='js-listing-owner-controls'></div>
    <!-- Listing Comments Section -->
    <div id='js-listing-comments'></div>
    <div id='js-listing-comment-form'>
        <div id='js-listing-comment-form-show'></div>
    </div>

</div>

