<div class='conainer-fluid'></div>
    <span class="float-right">
        <button href="#" class="" id="js-prev-listing">Previous Listing</button>
        <button href="#" class="" id="js-next-listing">Next Listing</button>
    </span><br>
    <div id='js-listing'></div>
    <!-- Listing Comments Section -->
    <div id='js-listing-comments'></div>
</div>