<h1 class="heading-text">Edit Profile</h1>

<%= image_tag @user.profile_image_url, :class => 'profile-image rounded-circle mx-auto d-block img-fluid' %><%= tag(:br) %>
<%= render 'sign_up_form', user: @user %>
