<a class="btn btn-outline-warning" href="/locations/{{location}}/listings/{{id}}/edit">Edit</a>
<a class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="/locations/{{location}}/listings/36">Delete</a>