/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;;
}

 body, html {
   height: 100%;
 }

 body {
   background: rgb(253, 253, 253);
 }

.container {
  padding-bottom: 30px;
}

.welcome_main {
  padding: 10rem 1.5rem;
  text-align: center;
  color: #fff;
}

.welcome_text_small {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  margin: 8px 1px;
}

.navbar-brand {
  color: #5cb85c  !important;
}

.small-visible {
  display: none;
}

/*---MAIN PAGE---*/


.main_search_button {
  margin: 20px;
}

.heading-text {
  font-family: 'Maven Pro', sans-serif;
  padding-top: 10px;
}

.main-page {
  font-size: 40px;
  color: #fff;
}

.subtext {
  font-weight: 400;
}

.welcome_main {
  color: white;
}

.welcome_container {
  background: url("list-me-welcome-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.darken_overlay:first-child {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



 /*---USER PROFILE---*/

 .profile-image {
   height: 250px;
   width: auto;
   align: center;
 }

 .profile-image-small {
   height: 50px;
   width: auto;
 }

 .profile-text {
   text-align: center;
   padding-top: 5px;
 }

 /*---LISTINGS---*/

 .listing-image {
   height: 300px;
   width: auto
 }

 .listing-card {
   width: 30%;
   margin: 10px 1.5%;
 }

 .image-card {
   width: 45%;
   margin: 10px 2.5%;
 }

 .listing-title-text {
   font-size: 20px;
 }

 .search-form {
   margin-bottom: 10px;
 }

 .listing-checkbox {
   text-align: center
 }

.tag-checkbox {
  margin: 10px 0px;
}

.carousel {
  width:672px;
  height:560px;
  align: center;
  margin: 0 auto;
  background-color: white;
  display: flex;
}

.carousel-img-height-dominant{
  height: 560px;
  margin: auto;
}

.carousel-img-width-dominant{
  width: 672px;
  margin: auto;
}

.listing-notification {
  margin-bottom: -10px;
  margin-top: 5px;
}

.listing-card-img {
  max-width:280px;
  max-height: 280px;
  object-fit: contain;
}

.card {
  background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.card-img-top {
  padding-top: 10px;
  height: 200px;
}

.edit-listing-card {
  max-width: 300px;
}


 /*---COMMENTS---*/

.media {
  margin: 8px 0px;
}


 /*---MEDIA QUERIES---*/



@media (max-width: 768px) {

  .heading-text {
    font-size: 30px;
  }

  .welcome_container {
    background: none;
  }

  .main-page, .subtext {
    font-size: 30px;
    color: #5cb85c;
  }

  .small-visible {
    display: block;
  }

}

@media (max-width: 992px) {

  .heading-text {
    font-size: 35px;
  }

  .welcome_container {
    background: none;
  }

  .listing-title-text{
    font-size: 20px;
  }

  .main-page, .subtext {
    font-size: 35px;
    color: #5cb85c;
  }

}
