<h1>Locations Index Page</h1>


<h3>Please Select A City</h3>

<%= content_tag(:ul) do %>
  <% @locations.each do |location| %>
    <%= content_tag(:li, link_to(location.full_location_name, location)) %>
  <% end %>
<% end %>
