<h1 class="heading-text">Manage Locations</h1>

<%= content_tag(:ul) do %>
  <%= locations_list(@locations) %>
<% end %>

<%= link_to "Create New Location", new_location_path, :class => 'btn btn-outline-success btn-block'%>
