<h1>Listings in <%= @location.full_location_name %></h1>



<h3>View Listings:</h3>

<%= content_tag(:ul) do %>
  <% @listings.each do |listing| %>
    <%= content_tag(:li, (link_to listing.overview, location_listing_path(@location, listing))) %>
  <% end %>
<% end %>
